<!doctype html>
<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

    <link rel="stylesheet" href="/public/main.css"> <!--내가 작성한 css 파일 첨부-->


    <title>Hello, world!</title>
</head>

<body>

    <%- include('nav.html') %>

        <!-- 서버에서 가져온 할 일 리스트
  <% for (var i=0; i < posts.length; i++) { %>
    <h4>할 일 제목 : <%= posts[i].제목 %></h4>
    <p>할 일 마감 날짜 : <%= posts[i].날짜 %></p>
    <button>삭제</button>
  <% } %> -->

        <h4 class="ml-2 my-3 text-center">검색 리스트</h4>

        <div class="container input-group mb-2">
            <input class="form-control" id="search-input">
            <button class="input-group-append btn btn-danger" id="search">검색</button>
        </div>

        <div class="container">
            <ul class="list-group">
                <% for (var i=0; i < posts.length; i++){ %>
                    <li class="list-group-item">
                        <p>글번호 : <%= posts[i]._id %>
                        </p>
                        <h4> 할일 제목 : <%= posts[i].제목 %>
                        </h4>
                        <p> 할일 마감날짜 : <%= posts[i].날짜 %>
                        </p>
                        <button class="btn btn-danger delete" data-id="<%= posts[i]._id %>">삭제</button>
                    </li>
                    <% } %>
            </ul>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>

        <script>
            //글 삭제 스크립트
            $('.delete').click(function (e) {
                var 글번호 = e.target.dataset.id; //내가 누른 요소의 data-id 값을 가져와주세요, e.target=지금 클릭한 것
                var 지금누른거 = $(this); //this=지금 이벤트 동작하는 곳
                $.ajax({
                    method: 'DELETE', //요청 방법 (서버에 DELETE 요청 할거임)
                    url: '/delete', //요청할 경로 (서버에 새로고침없이 '/경로' 로 DELETE 요청 할거임)
                    data: { _id: 글번호 } //요청과 함께 보낼 데이터
                }).done(function (결과) { //ajax 요청 성공 한 후 실행 할 코드
                    //삭제 버튼을 누른 요소를 안보이게 제거해주세요
                    console.log('성공했습니다'); //브라우저 콘솔창에 '성공했습니다' 출력
                    지금누른거.parent('li').fadeOut();
                }).fail(function (xhr, textStatus, errorThrown) { //ajax 요청 실패했을 때 실행 할 코드
                    console.log(xhr, textStatus, errorThrown);
                })
            })

            //검색 스크립트
            $('#search').click(function () {
                var 입력한값 = $('#search-input').val() //input에 유저가 입력한 값 추출
                window.location.replace('/search?value=' + 입력한값) //url 변경하는 행위(실은 GET요청이랑 같음, 버튼누르면 /search로 이동=GET요청함)
            })
        </script>







        <!-- Optional JavaScript; choose one of the two! -->

        <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
            crossorigin="anonymous"></script>

        <!-- Option 2: Separate Popper and Bootstrap JS -->
        <!--
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
    -->
</body>

</html>